<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Happy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC52B0861D9F863A00FC0725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC52B09D1D9F863B00FC0725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC52B0A81D9F863B00FC0725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
